*{
    font-family: 'outfit';
}
body{
    background-color: bisque;
}

.description{
    font-size: 16px;
}

.div1{
    background-color: white;
    position: relative;
    padding: 30px;
    border-radius: 20px;
    width: 700px;
    height: 1800px;
    margin: 0 auto;
}

.image-redonda{
    border-radius: 20px;
}

.preparation{
    background-color: rgba(188, 221, 217, 0.295);
    border-radius: 10px;
    height: 130px;
}

.title-prep{
    font-family: 'outfit';
    font-size: 20px;
    text-align: left;
    padding: 10px;
    height: 5px;
}

.ingredients{
    font-size: 18px;
}

.linha{
    height: 0,1px;
    background-color: rgb(176, 231, 224);
    width: 100%;
    margin: 10px 0;
}

.subti{
    font-family: 'young-serif';
    color: rgb(21, 85, 15);
    
    
}

ol li{
    font-size: 18px;
    
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    
}

table th{
    border-bottom: 1px solid black;
    padding: 18px;
}




